.resultObjects{
    overflow-y: auto; 
    background: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 1px solid navy;
    border-right: 1px solid navy;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px auto;
    padding-bottom: 3px; 
  }