<div class="container" style="margin-top: 7px">
  <!--objects-->
  <div class="col-md-11 resultObjects" data-toggle="modal" data-target="#myModal"
  (click)="startApp('192.168.1.120')">
    <div class="row">
      <div class="col-md-1">
          <img src="./assets/images/codeblocks.png" alt="Image not found" 
          onerror="this.onerror=null;this.src='http://192.168.1.120:8980/kali-menu.png';" 
          style="max-height: 80px; max-width: 70px;"/>
      </div>
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-12"><label style="font-size: 25px;">Xenon</label>
            <span>:  Linux Master Node</span>
          </div>
        </div>
      </div>
    </div>    
  </div>
  <!--object closed-->
  <!--objects-->
  <div class="col-md-11 resultObjects" data-toggle="modal" data-target="#myModal"
  (click)="startApp('192.168.1.170')">
    <div class="row">
      <div class="col-md-1">
          <img src="./assets/images/codeblocks.png" alt="Image not found" 
          onerror="this.onerror=null;this.src='http://192.168.1.120:8980/kali-menu.png';" 
          style="max-height: 80px; max-width: 70px;"/>
      </div>
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-12"><label style="font-size: 25px;">Nippun</label>
            <span>:  Linux Secondary Master Node</span>
          </div>
        </div>
      </div>
    </div>    
  </div>
  <!--object closed-->
  <!--objects-->
  <div class="col-md-11 resultObjects" data-toggle="modal" data-target="#myModal"
  (click)="startApp('192.168.1.150')">
    <div class="row">
      <div class="col-md-1">
          <img src="./assets/images/codeblocks.png" alt="Image not found" 
          onerror="this.onerror=null;this.src='http://192.168.1.120:8980/kali-menu.png';" 
          style="max-height: 80px; max-width: 70px;"/>
      </div>
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-12"><label style="font-size: 25px;">Admin</label>
            <span>:  Windows Worker Node</span>
          </div>
        </div>
      </div>
    </div>    
  </div>
  <!--object closed-->
</div>