.resultObjects{
  overflow-y: auto; 
  background: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 1px solid navy;
  border-right: 1px solid navy;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px auto;
  padding-bottom: 3px; 
}
.resultObjects p{
  font-size: 14px;
  background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.973)), to(rgba(204, 204, 204, 1)));
}

.listItem{
  background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.973)), to(rgba(204, 204, 204, 1)));
  background-image: linear-gradient(#fff, rgba(250, 253, 252, 1));
  z-index: 10; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  cursor: pointer;
}