<div>
  <div class="row">
    <div class="col-md-4">
      <div>
          <nav class=" uname navbar navbar-dark bg-dark">
              <div class = "container">
                <div class="row">
                  <div class="col-md-8">
                    <h3><a class="links" [routerLink]="['/welcome', { outlets: { authenticate: ['login'] } }]" routerLinkActive="active">Login</a></h3>
                  </div>  
                  <div class="col-md-4">
                    <h3><a class="links" [routerLink]="['/welcome', { outlets: { authenticate: ['signup'] } }]" routerLinkActive="active">SignUp</a></h3>
                  </div>
                </div>
              </div>    
          </nav>
        <router-outlet name="authenticate"></router-outlet>
      </div>
    </div>
    <div class="col-md-8">
        <div class="customDiv">
          <h1>Cloud Distributed Computing Suite</h1>
          <img src="./assets/images/cloud_load.gif" alt="Image not found" 
          onerror="this.onerror=null;this.src='http://localhost:8980/kali-menu.png';" 
          style="max-height: 250px; max-width: 250px;"/>

          <p style="text-align:justify">CloudDcs(Cloud Distributed Computing Suite) is a set of open source tools
             and services, integrated together to form 'Single Virtual System' from
             computers connected in a network for providing distributed computing
             services like higher multitasking, sharing and accessing of applications,
             distributed file systems, platform for multinode applications,
             remote access to connected nodes, file synchronization and many more.
          </p>
        </div>
      </div>
  </div>
</div>
