<nav class="navbar navbar-inverse navbar-fixed-top" style="margin:0; padding:10px; position: fixed">
  <ul class="nav sidebar-nav">
    <li class="sidebar-brand"><a href="">Dashboard</a></li>
    <li><a [routerLink]="['/dashboard', { outlets: { searchpanel: ['appopen'] } }]" routerLinkActive="active">App1</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Events</a> </li>
    <li><a href="">Team</a></li>

    <li class="dropdown sidebar-brand">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">Recents<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Dropdown heading</li>
        <li><a href="">Action</a></li>
        <li><a href="">Another action</a></li>
      </ul>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-2" style="padding: 0px 0px 0px 0px; width: 500px"></div>
      <div class="col-md-10">
        <router-outlet name="searchpanel"></router-outlet>
      </div>
  </div>
</div>

<!--right toolbox-->
<div class="sidenav">
    <div class="row">
        <div class="col-md-5"><a href="">Sync</a></div>
        <div class="ofset-md-2 col-md-3"><a href="">Refresh</a></div>
    </div>
  </div>
       