<div clas="overalldash" style="margin:0px; border:0px; padding: 0px">
  <div class="funkyradio offset-sm-4 col-sm-8 offset-md-0 col-md-12" style="margin: 0">
      <span class="funkyradio-primary">
          <input type="radio" name="radio" id="radio2" checked/>
          <label for="radio2">XWindow</label>
      </span>
      <span class="funkyradio-primary">
          <input type="radio" name="radio" id="radio3" />
          <label for="radio3">Docker</label>
      </span><span class="funkyradio-primary">
          <input type="radio" name="radio" id="radio4" />
          <label for="radio4">X11VNC</label>
      </span>
  </div>    
      
  <div id="custom-search-input" style="height:50px">
    <div class="input-group offset-sm-4 col-sm-8 offset-md-0 col-md-12" style="height:50px">
      <input type="text" class="form-control input-lg"  
                      placeholder="Search" [(ngModel)]= "userQuery" (keyup)="autoSugg()"
                      style="font-size:16px;height:50px"/>
    </div>
    <div *ngIf="titleApp?.length > 0" class="offset-sm-4 col-sm-8 offset-md-0 col-md-12">
      <ul class="list-group" style="font-size:15px;height:15px">

        <li class="list-group-item" *ngFor="let appNm of titleApp"
        style="background: rgb(238, 213, 213);  z-index: 10; 
                                    text-align: center; cursor: pointer">{{appNm}}</li>
      </ul>
    </div>
  </div>
      
  <!-- result box -->
  <div class="container" style="margin-top: 7px">
    <!--objects-->
    <div class="col-md-12 resultObjects" data-toggle="modal" data-target="#myModal">
      <div class="row">
        <div class="col-md-2"><label>icon</label></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-10"><h5>Name</h5></div>
          </div>
          <div class="row">
            <div class="col-md-12"><p>Comment<p></div>
            <div class="col-md-12" style="overflow: hidden; height: 50px"><p>Description: This is a demo
              description for testing the overflow property<p></div>
            <div class="col-md-8"><h6>Avalability</h6></div>
            <div class="col-md-4"><h6>Likes</h6></div>
          </div>
        </div>
      </div>
    </div>

  </div>  
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">App properties</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Launch</button>
        </div>
        
      </div>
    </div>
  </div>